@model TC_MachineAvailabilityCalendar.Models.Item

@{
    ViewData["Title"] = "Calendar";
}

<p>Calendar:@Model.Name Id:@Model.Id</p>
<img src="~/images/@Model.ImageUrl" alt="@Model.Name" style="height:500px; width:auto" />